<div ng-controller="editPivaCtrl">
    <form>
       div class="form-group">
				<label for="nazivNK">Naziv</label> <input
					ng-model="novaKnjiga.naziv" type="text" class="form-control"
					id="nazivNK">
			</div>
			<div class="form-group">
				<label for="vrstaNK">Vrsta</label> <input
					ng-model="novaKnjiga.vrsta" type="text" class="form-control"
					id="vrstaNK">
			</div>
			<div class="form-group">
				<label for="procenatNK">Procenat Alkohola</label> <input
					ng-model="novoPivo.procenat" type="text" class="form-control"
					id="procenatNK">
			</div>
			<div class="form-group">
				<label for="ibuNK">IBU</label> <input
					ng-model="novoPivo.ibu" type="text" class="form-control"
					id="ibuNK">
			</div>
			<div class="form-group">
				<label for="kolicinaNK">Kolicina na stanju</label> <input
					ng-model="novoPivo.kolicina" type="text" class="form-control"
					name="kolicinaNK">
			</div>
			<div class="form-group">
				<label for="pivaraNK">Pivara</label> <select
					ng-model="novoPivo.pivaraId" class="form-control" id="pivaraNK">
					<option ng-repeat="pp in pivare" value="{{i.id}}">{{i.naziv}}</option>
				</select>
			</div>

        <button type="button" class="btn btn-primary" ng-click="izmeni()">Izmeni</button>
    </form>
</div>