<div ng-controller="pivareCtrl">

	<br> <br>
	<div class="page-header">
		<h3>Pivare</h3>
	</div>
	<br>
 	
 	<div ng-if="!rezimIzmene">
	<br>
		<form>
			<div class="form-group">
				<label for="naziv">Naziv pivare</label> <input class="form-control"
					ng-model="novaPivara.naziv" type="text" id="naziv" />
			</div>
			<div class="form-group">
				<label for="pib">PIB pivare</label> <input class="form-control"
					ng-model="novaPivara.pib" type="text" id="pib" />
			</div>
			<div class="form-group">
				<label for="drzava">Drzava</label> <input class="form-control"
					ng-model="novaPivara.drzava" type="text" id="drzava" />
			</div>
			<button class="btn btn-primary" ng-click="addPivara()">Dodaj</button>
		</form>
	</div>
	<br>
	
	<div ng-if="rezimIzmene">
	<h3>Izmena podataka o pivari</h3>
	<form>
			<div class="form-group">
				<label for="naziv">Naziv pivare</label> 
				<input class="form-control" ng-model="staraPivara.naziv" type="text" id="naziv" />
			</div>
			<div class="form-group">
				<label for="pib">PIB</label> 
				<input class="form-control" ng-model="staraPivara.pib" type="text" id="pib" />
			</div>
			<div class="form-group">
				<label for="proc">Drzava</label> 
				<input class="form-control" ng-model="staraPivara.drzava" type="text" id="proc" />
			</div>
			 
			<button class="btn btn-primary" ng-click="editPivara(staraPivara.id); promenaRezima() ">Edit</button>
		</form>
</div>

	<div class="btn-group pull-right">
		<button ng-click="changePage(-1)" ng-disabled="pageNum == 0"
			class="btn btn-default">
			<span class="glyphicon glyphicon-menu-left"></span>
		</button>
		<button ng-click="changePage(1)"
			ng-disabled="pageNum == totalPages - 1" class="btn btn-default">
			<span class="glyphicon glyphicon-menu-right"></span>
		</button>
	</div>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>PIB</th>
				<th>Drzava</th>
				 
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in pivare">
				<td>{{x.naziv}}</td>
				<td>{{x.pib}}</td>
				<td>{{x.drzava}}</td>
				<td><button class="btn btn-primary" ng-click="dobavi(x.id); promenaRezima()">Edit</button></td>
			</tr>
		</tbody>
	</table>
</div>

