<div ng-controller="pivaCtrl">

<div class="page-header">
		<h3>Piva</h3>
	</div>

	<div ng-show="rezimDodavanja">
		<button ng-click="rezimDodavanja = !rezimDodavanja" class="btn btn-primary pull-right">Pretraga</button>
		<br />
		<form>
			<div class="form-group">
				<label for="nazivNK">Naziv</label> <input
					ng-model="novoPivo.naziv" type="text" class="form-control"
					id="nazivNK">
			</div>
			<div class="form-group">
				<label for="vrstaNK">Vrsta</label> <input
					ng-model="novoPivo.vrsta" type="text" class="form-control"
					id="vrstaNK">
			</div>
			<div class="form-group">
				<label for="procenatNK">Procenat Alkohola</label> <input
					ng-model="novoPivo.procenat" type="text" class="form-control"
					id="procenatNK">
			</div>
			<div class="form-group">
				<label for="ibuNK">IBU</label> <input
					ng-model="novoPivo.ibu" type="text" class="form-control"
					id="ibuNK">
			</div>
			<div class="form-group">
				<label for="kolicinaNK">Kolicina na stanju</label> <input
					ng-model="novoPivo.kolicina" type="text" class="form-control"
					name="kolicinaNK">
			</div>
			<div class="form-group">
				<label for="pivara">Pivara</label> <select class="form-control"
					ng-model="novoPivo.pivaraId" id="pivara">
					<option ng-repeat="p in pivare" value="{{p.id}}">{{p.naziv}}</option>
				</select>
			</div>

			<button ng-click="dodaj()" type="button" class="btn btn-primary">Dodaj</button>
		</form>
	</div>

	<div ng-show="!rezimDodavanja">
		<button ng-click="rezimDodavanja = !rezimDodavanja" class="btn btn-primary pull-right">Dodavanje</button>
		<br />
		<form>
			<div class="form-group">
				<label for="nazivTK">Naziv</label> <input
					ng-model="trazenoPivo.naziv" type="text" class="form-control"
					id="nazivTK">
			</div>
			<div class="form-group">
				<label for="minIbuTK">Min Ibu</label> <input
					ng-model="trazenoPivo.minIbu" type="text" class="form-control"
					id="minIbuTK">
			</div>
			<div class="form-group">
				<label for="maxIbuKTK">Max Ibu</label> <input
					ng-model="trazenoPivo.maxIbu" type="text" class="form-control"
					id="maxIbuKTK">
			</div>
			<div class="form-group">
				<label for="pivaraTK">Pivara (123)</label> <input
					ng-model="trazenoPivo.pivaraId" type="text" class="form-control"
					id="pivaraTK">
					<option ng-repeat="p in pivare" value="{{p.id}}">{{p.naziv}}</option>
			</div>


			<button ng-click="trazi()" type="button" class="btn btn-primary">Trazi</button>
		</form>
	</div>

	<br /> <br /> <br />
	<div class="btn-group pull-right">
		<button class="btn btn-primary" ng-click="nazad()" ng-disabled="pageNum == 0">Prethodna</button>
		<button class="btn btn-primary" ng-click="napred()" ng-disabled="pageNum == totalPages - 1">Sledeca</button>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Naziv</th>
				<th>Vrsta</th>
				<th>Procenat alkohola</th>
				<th>IBU</th>
				<th>Kolicina na stanju (123)</th>
				<th>Pivara</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in piva">
				<td>{{p.naziv}}</td>
				<td>{{p.vrsta}}</td>
				<td>{{p.procenatAlkohola}}</td>
				<td>{{p.IBU}}</td>
				<td>{{p.kolicinaNaStanju}}</td>
				<td>{{p.pivaraNaziv}}</td>
				<td>
					<button ng-click="obrisi(p.id)" class="btn btn-danger">Obrisi</button>
					<button ng-click="izmeni(p.id)" class="btn btn-warning">Izmeni</button>
					<button ng-disabled="p.kolicina <= 0" ng-click="kupi(p.id)" class="btn btn-primary">Kupi</button>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
</div>
